table, th, td, tr {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
}


th, td {
    padding: 5px;
}


table button {
    padding: 2px;
}

table {
    width: 75%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2{
    text-align: center;
    font-size: 24px;
}

button{
    width: 150px;
}

div {
    text-align: center;
}