body {
    background-image: url(image/cl23_2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Times New Roman';
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.block {
    display: block;
    width: 40%;
    border: solid;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


